@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

// 1. Config files and helpers
@import 'abstracts/colors';
@import 'abstracts/type';


// 2. Vendor
@import 'vendor/normalize';

// 3. Base styles
@import 'base/base';
@import 'base/typography';

// 4. Layout
@import 'layout/grid';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/nav';
@import 'layout/promo';
@import 'layout/sales-points';
@import 'layout/footer';

// 5. Components
@import 'components/buttons';
@import 'components/cta';
