.grid {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 0 0 100%;
    padding: 0 .75rem;

    @media(min-width: 725px) {

            &:first-of-type {
                padding-left: 0;
            }
            &:last-of-type {
                padding-right: 0;
            }
    }
}

.col--full {
    flex: 0 0 100%;
}

@media(min-width: 725px) {
    .col--1-3 {
        flex-basis: 33.333333%;
    }
    .col--2-3 {
        flex-basis: 66.666666%;
    }

    .col--1-2{
        flex-basis: 50%;
    }
}