h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 .75em;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-weight: $font-light;
    line-height: 1.15;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 1;
}

.title-large{
    font-size:3rem;
    font-weight: $font-black;
    line-height: .9;
}

span {
    font-weight: $font-light;
}

.text-intro {
    font-size: 1.2rem;
}

.title-box {
    background: $accent;
    color: $text-inverse;
    margin: 0 auto;
    padding: 2em;
    transform: translateY(30%);
    max-width: 90%;
    @media(min-width: 495px) {
        transform: translateY(50%);
    }

    & + .bg-primary {
        padding-top: 6rem;

        @media(min-width: 495px) {
            padding-top: 8rem;
        }
    
    }
}

.title-footer {
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1;

    &::before, &::after {
        content: '';
        display: block;
        height: 1px;
        background: $text-inverse;
        opacity: 0.25;
        margin: .75em 0;
    }
}
